Vagrant/.vagrant
/Vagrant/ubuntu-bionic-18.04-cloudimg-console.log
/SQL/**
Data.rar
cic.txt
Docker/heartbeat-7.13.2-amd64.deb
Docker/metricbeat-7.13.2-amd64.deb
Automate/elasticsearch/mlp_category/modelo_MLP_600_9cat.joblib
Scripts/testingfreeling/__pycache__
Scripts/testingfreeling/_pyfreeling.so